{% extends "base.html" %}

{% load static %}

{% block main %}
  <main class="main">
    <div class="container">
      <section class="filter main__filter">
        <input class="input" list="themes" placeholder="Тематика" />
        <input class="input search" type="search" placeholder="Поиск" />
        <input class="input" type="datetime" placeholder="00.00.0000 00:00" />
        <input class="input" type="datetime" placeholder="00.00.0000 00:00" />
        <input class="btn" type="submit" value="Применить" />
        <datalist id="themes">
          <option>Математика</option>
          <option>Литература</option>
          <option>Русский язык</option>
          <option>Иностранный язык</option>
        </datalist>
      </section>
      <!-- для неавторизованных -->
      <section class="cards cards-non-auth">
        <div class="cards__content">
          <div class="card__item card card--active">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Участие</div>
              <div class="btn">Просмотр</div>
            </div>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-1"
                       checked="true" />
                <label for="policy__checkbox-1">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-1"
                       checked="true" />
                <label for="policy__checkbox-1">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-2"
                       checked="true" />
                <label for="policy__checkbox-2">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-3"
                       checked="true" />
                <label for="policy__checkbox-3">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-4"
                       checked="true" />
                <label for="policy__checkbox-4">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
      </section>
      <!-- для авторизованных -->
      <section class="cards cards-user">
        <div class="cards__content">
          <div class="card__item card card--active">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Участие</div>
              <div class="btn">Просмотр</div>
            </div>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Присоединиться</div>
            </div>
          </div>
          <div class="card__item card card--join">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">
              Выберите команду
              <br />
              из списка
            </p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="input join-input" list="teams" />
            <datalist id="teams">
              <option value="Лютики">Лютики</option>
              <option value="Цветики">Цветики</option>
            </datalist>
            <div class="card__btns">
              <div class="btn btn-join">Присоединиться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">
              Ваша заявка
              <br />
              отправлена капитану
            </p>
          </div>
        </div>
      </section>
      <!-- соединить админа и суперадмина -->
      <section class="cards cards-admin">
        <div class="cards__content">
          <div class="card__item card card--active">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Участие</div>
              <div class="btn">Просмотр</div>
            </div>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-1"
                       checked="true" />
                <label for="policy__checkbox-1">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-2"
                       checked="true" />
                <label for="policy__checkbox-2">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-3"
                       checked="true" />
                <label for="policy__checkbox-3">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-4"
                       checked="true" />
                <label for="policy__checkbox-4">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
      </section>
      <section class="cards cards-supadmin">
        <div class="cards__content">
          <div class="card__item card card--active">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Участие</div>
              <div class="btn">Просмотр</div>
            </div>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-1"
                       checked="true" />
                <label for="policy__checkbox-1">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-2"
                       checked="true" />
                <label for="policy__checkbox-2">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-3"
                       checked="true" />
                <label for="policy__checkbox-3">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-4"
                       checked="true" />
                <label for="policy__checkbox-4">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
      </section>
    </div>
  </main>
{% endblock main %}
