{% extends "base.html" %}

{% load static %}

{% block body %}
  <div class="modals">
    <div class="modal modal--auth">
      <div class="modal__dialog">
        <button class="modal__close"></button>
        <h3 class="modal__title card__title">Авторизация</h3>
        <form action="#"
              id="form-auth"
              method="post"
              class="form modal__form"
              novalidate="novalidate">
          <input class="form__input card__input mail"
                 type="text"
                 placeholder="Введите email*" />
          <input class="form__input card__input pass"
                 type="password"
                 placeholder="Введите пароль*" />
          <p class="form__text">
            Еще не с нами? <span class="pink link form__reg">Зарегистрироваться</span>
          </p>
          <p class="form__text">
            <span class="pink link form__recover">Забыли пароль?</span>
          </p>
          <span class="auth-error">Введите данные</span>
          <input type="submit" class="form__btn btn btn--auth" value="Войти" />
        </form>
      </div>
    </div>
    <div class="modal modal--reg">
      <div class="modal__dialog">
        <button class="modal__close"></button>
        <h3 class="modal__title card__title">Регистрация</h3>
        <form action="#"
              id="form-reg"
              method="post"
              class="form modal__form"
              novalidate="novalidate">
          <input class="form__input card__input name"
                 type="text"
                 placeholder="Введите ФИО*" />
          <input class="form__input card__input mail"
                 id="reg-mail"
                 type="text"
                 placeholder="Введите email*" />
          <input class="form__input card__input pass1"
                 type="password"
                 placeholder="Введите пароль*" />
          <input class="form__input card__input pass2"
                 type="password"
                 placeholder="Повторите пароль*" />
          <div class="form__adm policy1">
            <input type="checkbox" class="policy1__checkbox" id="admin" />
            <label for="admin">Хочу быть администратором</label>
          </div>
          <span class="form__error">Пароли не совпадают</span>
          <input type="submit"
                 class="form__btn btn btn--reg"
                 value="Зарегистрироваться" />
        </form>
      </div>
    </div>
    <div class="modal modal--change">
      <div class="modal__dialog">
        <button class="modal__close"></button>
        <h3 class="modal__title card__title">Редактирование</h3>
        <form id="form-change"
              enctype="multipart/form-data"
              method="post"
              class="form modal__form"
              novalidate="novalidate">
          <input type="hidden" class="hidden-user" name="user_id" />
          <input name="name"
                 class="form__input card__input name change-name"
                 type="text"
                 placeholder="Введите ФИО*" />
          <input name="photo"
                 class="form__input card__input photo change-photo"
                 accept="application/x-zip-compressed,image/*"
                 type="file"
                 placeholder="Загрузить фото" />
          <input name="mail"
                 class="form__input card__input mail change-mail"
                 id="change-mail"
                 type="text"
                 placeholder="Введите email*" />
          <input name="pass1"
                 class="form__input card__input"
                 id="change-pass1"
                 type="password"
                 placeholder="Введите новый пароль*" />
          <input name="pass2"
                 class="form__input card__input"
                 id="change-pass2"
                 type="password"
                 placeholder="Повторите пароль*" />
          <div class="form__adm policy1">
            <input type="checkbox"
                   name="admin"
                   class="policy1__checkbox"
                   id="change-admin" />
            <label for="change-admin">Хочу быть администратором</label>
          </div>
          <span class="form__error change-form__error">Пароли не совпадают</span>
          <input type="submit"
                 class="form__btn btn btn--change"
                 value="Сохранить изменения" />
        </form>
      </div>
    </div>
  </div>
  <div class="left-menu">
    <img class="card__info card__close left-menu__close" src="{% static "images/header/close.svg" %}" alt="close" />
    <p class="left-menu__title">Выберите действие</p>
    <div class="left-menu__admin">
      {% comment %} new-quiz {% endcomment %}
      <a href="#" class="left-menu__item btn">Создать викторину</a>
      {% comment %} bank {% endcomment %}
      <a href="#" class="left-menu__item btn">Банк вопросов</a>
      {% comment %} news {% endcomment %}
      <a href="#" class="left-menu__item btn">Отправить новость</a>
      {% comment %} teams {% endcomment %}
      <a href="#" class="left-menu__item btn">Управление командами</a>
      <div class="left-menu__item btn">Чат с администраторами</div>
      <a href="#" class="exit">Выйти</a>
    </div>
    <div class="left-menu__supadmin">
      {% comment %} new-quiz {% endcomment %}
      <a href="#" class="left-menu__item btn">Создать викторину</a>
      {% comment %} bank {% endcomment %}
      <a href="#" class="left-menu__item btn">Банк вопросов</a>
      {% comment %} news {% endcomment %}
      <a href="#" class="left-menu__item btn">Отправить новость</a>
      {% comment %} teams {% endcomment %}
      <a href="#" class="left-menu__item btn">Управление командами</a>
      {% comment %} applications {% endcomment %}
      <a href="#" class="left-menu__item btn">Заявки в администраторы</a>
      <div class="left-menu__item btn">Чат с администраторами</div>
      {% comment %} users {% endcomment %}
      <a href="#" class="left-menu__item btn">Управление пользователями</a>
      <a href="#" class="exit">Выйти</a>
    </div>
    <div class="left-menu__user">
      {% comment %} news {% endcomment %}
      <a class="left-menu__item btn" href="#">Новости</a>
      <div class="left-menu__item btn">Чат с командой</div>
      <div class="left-menu__item btn">История участия</div>
      <div class="left-menu__item btn">Посмотреть команду</div>
      <a href="#" class="exit">Выйти</a>
    </div>
  </div>
  <div class="left-menu-data">
    <img class="card__info card__close left-menu-data__close" src="{% static "images/header/close.svg" %}" alt="close" />
    <p class="left-menu__title">Личные данные</p>
    <div class="left-menu__data data">
      <img src=# alt="photo" class="data__img" />
      <p class="data__item">
        <span>ФИО:</span>
        <span class="data__item--name">Загрузка...</span>
      </p>
      <p class="data__item">
        <span>E-mail:</span>
        <span class="data__item--mail">Загрузка...</span>
      </p>
      <p class="data__item">
        <span>Права:</span>
        <span class="data__item--role">Загрузка...</span>
      </p>
      <div class="btn">Редактировать данные</div>
    </div>
  </div>
  <!-- Добавить в фильтр shuffle.js -->
  <!-- для регистрации на участие добавить список из уже существующих команд и возможность добавить новую -->
  <header class="header">
    <input type="hidden" class="hidden-role" value="role" />
    <input type="hidden" class="hidden-user" value="user" />
    <div class="container">
      <div class="header__content">
        <a href={% url "main:index" %} class="logo header__logo">
          <img class="logo__img" src="{% static "images/header/logo.svg" %}" alt="QUIZ" />
          <div class="logo__info">
            <span class="logo__title">Quiz</span>
            <span class="logo__desc">Сервис для проведения викторин</span>
          </div>
        </a>
        <div class="menu header__menu">
          <a href="#" class="menu__item menu__actions">Меню</a>
          {% comment %} news.html {% endcomment %}
          <a href="#" class="menu__item menu__news">Новости</a>
          <img class="menu__info" src="{% static "images/header/info.svg" %}" alt="info" />
          <img class="menu__auth" src="{% static "images/header/login.svg" %}" alt="->" />
          <img class="menu__people" src="{% static "images/header/people.svg" %}" alt="men" />
        </div>
      </div>
    </div>
  </header>
  <main class="main">
    <div class="container">
      <section class="filter main__filter">
        <input class="input" list="themes" placeholder="Тематика" />
        <input class="input search" type="search" placeholder="Поиск" />
        <input class="input" type="datetime" placeholder="00.00.0000 00:00" />
        <input class="input" type="datetime" placeholder="00.00.0000 00:00" />
        <input class="btn" type="submit" value="Применить" />
        <datalist id="themes">
          <option>Математика</option>
          <option>Литература</option>
          <option>Русский язык</option>
          <option>Иностранный язык</option>
        </datalist>
      </section>
      <!-- для неавторизованных -->
      <section class="cards cards-non-auth">
        <div class="cards__content">
          <div class="card__item card card--active">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Участие</div>
              <div class="btn">Просмотр</div>
            </div>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-1"
                       checked="true" />
                <label for="policy__checkbox-1">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-1"
                       checked="true" />
                <label for="policy__checkbox-1">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-2"
                       checked="true" />
                <label for="policy__checkbox-2">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-3"
                       checked="true" />
                <label for="policy__checkbox-3">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-4"
                       checked="true" />
                <label for="policy__checkbox-4">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
      </section>
      <!-- для авторизованных -->
      <section class="cards cards-user">
        <div class="cards__content">
          <div class="card__item card card--active">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Участие</div>
              <div class="btn">Просмотр</div>
            </div>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Присоединиться</div>
            </div>
          </div>
          <div class="card__item card card--join">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">
              Выберите команду
              <br />
              из списка
            </p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="input join-input" list="teams" />
            <datalist id="teams">
              <option value="Лютики">Лютики</option>
              <option value="Цветики">Цветики</option>
            </datalist>
            <div class="card__btns">
              <div class="btn btn-join">Присоединиться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">
              Ваша заявка
              <br />
              отправлена капитану
            </p>
          </div>
        </div>
      </section>
      <!-- соединить админа и суперадмина -->
      <section class="cards cards-admin">
        <div class="cards__content">
          <div class="card__item card card--active">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Участие</div>
              <div class="btn">Просмотр</div>
            </div>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-1"
                       checked="true" />
                <label for="policy__checkbox-1">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-2"
                       checked="true" />
                <label for="policy__checkbox-2">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-3"
                       checked="true" />
                <label for="policy__checkbox-3">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-4"
                       checked="true" />
                <label for="policy__checkbox-4">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
      </section>
      <section class="cards cards-supadmin">
        <div class="cards__content">
          <div class="card__item card card--active">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Участие</div>
              <div class="btn">Просмотр</div>
            </div>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-1"
                       checked="true" />
                <label for="policy__checkbox-1">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-2"
                       checked="true" />
                <label for="policy__checkbox-2">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-3"
                       checked="true" />
                <label for="policy__checkbox-3">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
        <div class="cards__content">
          <div class="card__item card card--default">
            <img class="card__info" src="{% static "images/header/info.svg" %}" alt="info" />
            <span class="card__datetime">12.04.2000  19:00</span>
            <p class="card__title">Название викторины</p>
            <span class="card__theme">Математика</span>
            <p class="card__desc">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            </p>
            <div class="card__btns">
              <div class="btn">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--reg">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Регистрация</p>
            <div class="card__form">
              <input type="text" class="card__input" placeholder="Название команды" />
              <input type="text" class="card__input" placeholder="E-mail капитана" />
              <input type="number" class="card__input" placeholder="Кол-во участников" />
              <div class="card__policy policy">
                <input type="checkbox"
                       class="policy__checkbox"
                       id="policy__checkbox-4"
                       checked="true" />
                <label for="policy__checkbox-4">
                  Согласен на обработку <a href="#">персональных данных</a>
                </label>
              </div>
            </div>
            <div class="card__btns">
              <div class="btn btn-reg">Зарегистрироваться</div>
            </div>
          </div>
          <div class="card__item card card--done">
            <img class="card__info card__close" src="{% static "images/header/close.svg" %}" alt="close" />
            <p class="card__title">Вы успешно зарегистрированы</p>
            <p class="card__subtitle">Ключ для входа</p>
            <input class="card__input" type="text" value="flkgdsfgnvdfkbng" />
            <p class="card__subtitle">Цвет вашей команды</p>
            <span class="card__color"></span>
          </div>
        </div>
      </section>
    </div>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src={% static "js/shuffle.min.js" %}></script>
  <script src={% static "js/main.js" %}></script>
{% endblock body %}
