{% extends "base.html" %}

{% load static %}
{% block main %}
<main class="team">
    <div class="container">
        <div class="team__teams">
            <input class="input search" type="search" placeholder="Поиск">
            <div class="btn">Добавить новую команду</div>
            <div class="teams">
                <div class="team__item">
                    <span class="color"></span>
                    <div class="team__text">
                        <p class="team__title">Название команды</p>
                        <p class="team__cap">Имя капитана</p>
                    </div>
                </div>
                <div class="team__item">
                    <span class="color"></span>
                    <div class="team__text">
                        <p class="team__title">Название команды</p>
                        <p class="team__cap">Имя капитана</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="team__info">
            <h2 class="team__title title">Название команды</h2>
            <div class="team__content">
                <div class="data">
                    <img src="img/news/people.jpg" alt="photo" class="data__img">
                    <p class="data__item">
                        <span>ФИО:</span>
                        <span>Санько Алексей Эдуардович</span>
                    </p>
                    <p class="data__item">
                        <span>E-mail:</span>
                        <span>a@icloud.com</span>
                    </p>
                    <p class="data__item">
                        <span>Права:</span>
                        <span>Капитан</span>
                    </p>
                    <div class="btn">Редактировать данные</div>
                </div>
                <div class="data">
                    <img src="img/news/people.jpg" alt="photo" class="data__img">
                    <p class="data__item">
                        <span>ФИО:</span>
                        <span>Санько Алексей Эдуардович</span>
                    </p>
                    <p class="data__item">
                        <span>E-mail:</span>
                        <span>a@icloud.com</span>
                    </p>
                    <p class="data__item">
                        <span>Права:</span>
                        <span>Капитан</span>
                    </p>
                    <div class="btn">Редактировать данные</div>
                </div>
                <div class="data">
                    <img src="img/news/people.jpg" alt="photo" class="data__img">
                    <p class="data__item">
                        <span>ФИО:</span>
                        <span>Санько Алексей Эдуардович</span>
                    </p>
                    <p class="data__item">
                        <span>E-mail:</span>
                        <span>a@icloud.com</span>
                    </p>
                    <p class="data__item">
                        <span>Права:</span>
                        <span>Капитан</span>
                    </p>
                    <div class="btn">Редактировать данные</div>
                </div>
                <div class="data">
                    <img src="img/news/people.jpg" alt="photo" class="data__img">
                    <p class="data__item">
                        <span>ФИО:</span>
                        <span>Санько Алексей Эдуардович</span>
                    </p>
                    <p class="data__item">
                        <span>E-mail:</span>
                        <span>a@icloud.com</span>
                    </p>
                    <p class="data__item">
                        <span>Права:</span>
                        <span>Капитан</span>
                    </p>
                    <div class="btn">Редактировать данные</div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock main %}